<% if @task.nil? %>
  <h1> 404 Not found</h1>
<% else %>
  <h1><%= @task.name %></h1>
  <p><%= @task.description %> </p>
    <%= link_to "Edit #{@task.id}", edit_task_path(@task.id)%>
  <div></div>
  <%= link_to "Delete #{@task.name}", task_path(@task.id), method: :delete %>
  <%= link_to "Complete #{@task.name}", complete_task_path(@task.id), method: :put %>
<% end %>
